
<div class="calculated-setting-row">
    <input type="text" class="calculated-value-input" style="z-index: 3000"  ng-model="plugin[setting.name]"></input>
    <!--<div ng-click="alert('titi')"><i class="fa fa-plus" aria-hidden="true"></i><label>DATASOURCE</label></div>
    <div ng-click=""><i class="fa fa-arrows-alt" aria-hidden="true"></i><label>.JS EDITOR</label></div>-->
    <a tooltip-placement="right" uib-tooltip=""><i class="fa fa-plus"></i>DS</a>
    <a tooltip-placement="right" uib-tooltip=""><i class="fa fa-arrows-alt"></i>JS</a>
</div>