<header id="main-header"  style=" display: block;left:0px; top: 0px;" >
    <div id="admin-bar">
        <div id="admin-menu">
            <div id="board-tools">
                <h1 id="board-logo" class="title bordered">HomeThings</h1>
                <div id="board-actions" ng-include="dashboardAction()">
                    
                </div>
            </div>
            <div id="datasources" ng-include="dashboardContent()">
                
            </div>
        </div>
    </div>

    
    <div class="toggle-header" ng-click="dashboard.allowEdit=false">
        <i class="toggle-header-icon fa fa-chevron-up" aria-hidden="true"></i>
	</div>
</header>