<header id="main-header" ng-show="dashboard.allowEdit" lazy-render duration="0.5" style=" display: block;left:0px; top: 0px;" class="slideable animate-slidedown">
    <div id="admin-bar">
        <div id="admin-menu">
            <div id="board-tools">
                <h1 id="board-logo" class="title bordered">HomeThings</h1>
                <div id="board-actions">
                    <ul class="board-toolbar vertical">
                        <li ng-click="loadDashboardFromLocalFile"><i id="full-screen-icon" class="icon-folder-open icon-white"></i><label id="full-screen">Load Dashboard</label></li>
                        <li><i class="icon-download-alt icon-white"></i>
                            <label ng-click="saveDashboardClicked()">Save Dashboard</label>
                            <label style="display: none;" ng-click="saveDashboard('pretty')">[Pretty]</label>
                            <label style="display: none;" ng-click="saveDashboard('minified')">[Minified]</label>
                        </li>
                        <li id="add-pane" ng-click="addPane()"><i class="icon-plus icon-white"></i><label>Add Pane</label></li>
                    </ul>
                </div>
            </div>
            <div id="datasources">
                <h2 class="title">DATASOURCES</h2>

                <div class="datasource-list-container">
                    <table class="table table-condensed sub-table" id="datasources-list" ng-if="datasources.length>0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Last Updated</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="datasource in datasources">
                            <td>
                                <span class="text-button datasource-name" ng-click="modifyDatasource($index)" uib-tooltip="{{'Modify ' + datasource.settings.name}}" >{{datasource.settings.name}}</span>
                            </td>
                            <td>{{datasource.last_updated}}</td>
                            <td>
                                <ul class="board-toolbar">
                                    <li ng-click="stopDatasourceData($index)" uib-tooltip="{{'Stop ' + datasource.settings.name }}" ng-if="datasource.settings.state == 3"><i class="fa fa-stop"></i></li>
                                    <li ng-click="startDatasourceData($index)" uib-tooltip="{{'Start ' + datasource.settings.name }}" ng-if="datasource.settings.state == 0 || datasource.settings.state == 2 "><i class="fa fa-play"></i></li>
                                    <li ng-click="updateDatasourceData($index)" uib-tooltip="{{'Refresh ' + datasource.settings.name }}" ng-if="datasource.settings.state == 3"><i class="fa fa-refresh"></i></li>
                                    <li ng-click="deleteDatasource($index)" uib-tooltip="{{'Delete ' + datasource.settings.name }}"><i class="fa fa-trash-o"></i></li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <span class="text-button table-operation" ng-click="addDatasource()">ADD</span>
            </div>
        </div>
    </div>
<!--
    <div id="toggle-header" slide-toggle="#main-header"  expanded="true"  toggle-value="false">
        <i id="toggle-header-icon" class="fa fa-chevron-up" aria-hidden="true"></i>
	</div>
    -->
    
    <div id="toggle-header" ng-click="dashboard.allowEdit=false">
        <i id="toggle-header-icon" class="fa fa-chevron-up" aria-hidden="true"></i>
	</div>
</header>