 <div class="gridster gs_w" style="cursor: pointer; display: list-item;" ng-show="widgets.length>0 || dashboard.allowEdit==true">
    <header>
        <h1 >{{pane.settings.title || 'TITLE'}}</h1>
        <ul class="board-toolbar pane-tools" style="display: block;" ng-show="dashboard.allowEdit">
            <li ng-click="addWidget($index)" uib-tooltip="Add Widget">
                <i class="fa fa-plus "></i>
            </li>
            <li ng-click="editPane($index)" uib-tooltip="Edit">
                <i class="fa fa-wrench"></i>
            </li>
            <li ng-click="deletePane($index)" uib-tooltip="Delete">
                <i class="fa fa-trash"></i>
            </li>
        </ul>
    </header>
    <section ng-repeat="widget in pane.widgets" >
       <widget ></widget>
    </section>
</div>  