<div class="widget" >
    <div class="tw-display">
        <div class="tw-tr">
            <h2 class="section-title tw-title tw-td">Sunset</h2>
        </div>
        <div class="tw-tr">
            <div class="tw-value-wrapper tw-td">
                <div class="tw-value" style="font-size: 30px; max-width: 100%;">21:16:18</div>
                <div class="tw-unit" >toto</div>
            </div>
        </div>
        <div class="tw-tr">
            <div class="tw-sparkline tw-td" >titi</div>
        </div>
    </div>
</div>
